@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* css styles */
/* Reset some default styles */
h3 {
    color: #2880f2;
}
h4 {
    color: #ffae2d;
}

strong{
    color: #ff6981;
}

em{
    color: #2aa553;
}

body{
    background-color: rgb(220, 218, 205);
    font-weight: 400;
}

.navbar {
    background-color: #1f1f1f !important;
}

.nav-link {
    color: #f9f6eee7;
}

.navbar-title{
    color: #f9f6eee7;
}

.navbar-dark {
    color: #f9f6eee7;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f9f6eee7;
}

.navbar-dark .navbar-brand {
    color: #f9f6eee7;
}

.listing-category {
    border: 1px solid black;
}


#quarto-sidebar {
    background-color: rgb(190, 188, 175);
}

/* Code block styling */
pre {
    background-color: #1f1f1f;
    color: #f9f6ee;
    padding: 1em;
    border-radius: 4px;
}

pre code {
    background-color: transparent;
    color: inherit;
}

/* Inline code styling */
code {
    background-color: #2b2b2b;
    color: #141005;
    padding: 2px 4px;
    border-radius: 3px;
}

