@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* css styles */
/* Reset some default styles */
h3 {
    color: #2880f2;
}
h4 {
    color: #dfb067;
}

strong{
    color: #ff6981;
}

em{
    color: #49f181;
}

code{
    background-color: rgb(180, 180, 180);
}

body{
    background-color: rgb(220, 218, 205);
    font-weight: 400;
}

.navbar {
    background-color: #1f1f1f !important;
}

.navbar-dark {
    color: #f9f6eee7;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f9f6eee7;
}

.navbar-dark .navbar-brand {
    color: #f9f6eee7;
}

.listing-category {
    border: 1px solid black;
}


#quarto-sidebar {
    background-color: rgb(190, 188, 175);
}

